<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-4">
            {:build_radios('row[type]', ['redteam'=>__('Redteam'), 'pentest'=>__('Pentest'), 'other'=>__('Other')], 'other')}
        </div>
    </div>
    <div class="form-group">
        <label for="c-customer" class="control-label col-xs-12 col-sm-2">{:__('Customer')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-customer" class="form-control" name="row[customer]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-brief" class="control-label col-xs-12 col-sm-2">{:__('Brief')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-brief" class="form-control" name="row[brief]" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-detail" class="control-label col-xs-12 col-sm-2">{:__('Detail')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-detail" class="form-control editor" name="row[detail]" rows="6"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-price" class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-price" data-rule="required;number" class="form-control" name="row[price]" type="number" step="0.01" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-discount_price" class="control-label col-xs-12 col-sm-2">{:__('Discount price')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-discount_price" data-rule="number" class="form-control" name="row[discount_price]" type="number" step="0.01" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-inventory" class="control-label col-xs-12 col-sm-2">{:__('Inventory')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-inventory" data-rule="integer" class="form-control" name="row[inventory]" type="number" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-delivery_time" class="control-label col-xs-12 col-sm-2">{:__('Delivery time')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-delivery_time" class="form-control" name="row[delivery_time]" type="date" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['active'=>__('Active'), 'expired'=>__('Expired')], 'active')}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

