<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="" placeholder="公司名称">
        </div>
    </div>
    <div class="form-group">
        <label for="c-credit_code" class="control-label col-xs-12 col-sm-2">{:__('Credit code')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-credit_code" data-rule="required" class="form-control" name="row[credit_code]" type="text" value="" placeholder="统一社会信用代码">
        </div>
    </div>
    <div class="form-group">
        <label for="c-address" class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input id="c-address" class="form-control" name="row[address]" type="text" value="" placeholder="公司地址">
        </div>
    </div>
    <div class="form-group">
        <label for="c-contact_name" class="control-label col-xs-12 col-sm-2">{:__('Contact name')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-contact_name" class="form-control" name="row[contact_name]" type="text" value="" placeholder="联系人姓名">
        </div>
    </div>
    <div class="form-group">
        <label for="c-contact_phone" class="control-label col-xs-12 col-sm-2">{:__('Contact phone')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-contact_phone" class="form-control" name="row[contact_phone]" type="text" value="" placeholder="联系人电话">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
