<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="row[id]" value="{$row.id|htmlentities}">
    <div class="form-group">
        <label for="c-order_no" class="control-label col-xs-12 col-sm-2">{:__('Order no')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-order_no" data-rule="required" class="form-control" name="row[order_no]" type="text" value="{$row.order_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-sales_name" class="control-label col-xs-12 col-sm-2">{:__('Sales name')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-sales_name" class="form-control" name="row[sales_name]" type="text" value="{$row.sales_name|htmlentities}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="c-product_name" class="control-label col-xs-12 col-sm-2">{:__('Product name')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-product_name" data-rule="required" class="form-control" name="row[product_name]" type="text" value="{$row.product_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-product_brief" class="control-label col-xs-12 col-sm-2">{:__('Product brief')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-product_brief" class="form-control" name="row[product_brief]" rows="3">{$row.product_brief|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-product_detail" class="control-label col-xs-12 col-sm-2">{:__('Product detail')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-product_detail" class="form-control editor" name="row[product_detail]" rows="6">{$row.product_detail|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-unit_price" class="control-label col-xs-12 col-sm-2">{:__('Unit price')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-unit_price" data-rule="required;number" class="form-control" name="row[unit_price]" type="number" step="0.01" value="{$row.unit_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-quantity" class="control-label col-xs-12 col-sm-2">{:__('Quantity')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-quantity" data-rule="required;integer" class="form-control" name="row[quantity]" type="number" value="{$row.quantity|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-pay_amount" class="control-label col-xs-12 col-sm-2">{:__('Pay amount')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-pay_amount" data-rule="required;number" class="form-control" name="row[pay_amount]" type="number" step="0.01" value="{$row.pay_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-customer_info" class="control-label col-xs-12 col-sm-2">{:__('Customer info')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-customer_info" readonly class="form-control" rows="2">{$row.product_customer|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contract status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[contract_status]', ['none'=>__('Contract none'), 'uploaded'=>__('Contract uploaded')], $row.contract_status)}
        </div>
    </div>
    <div class="form-group">
        <label for="c-contract_url" class="control-label col-xs-12 col-sm-2">{:__('Contract url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-contract_url" class="form-control" name="row[contract_url]" type="text" value="{$row.contract_url|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span class="btn btn-danger plupload" data-input-id="c-contract_url" data-mimetype="application/pdf" data-multiple="false"><i class="fa fa-upload"></i> {:__('Upload')}</span>
                </div>
            </div>
            <span class="help-block">仅支持 PDF，上传后销售可在小程序中查看和下载电子合同</span>
        </div>
    </div>
    <div class="form-group">
        <label for="c-whitehat_id" class="control-label col-xs-12 col-sm-2">{:__('Whitehat id')}:</label>
        <div class="col-xs-12 col-sm-4">
            <select id="c-whitehat_id" class="form-control selectpicker" name="row[whitehat_id]" data-live-search="true" data-rule="integer">
                <option value="0">{:__('None')}</option>
                {volist name="whitehatList" id="item"}
                <option value="{$item.id}" {eq name="row.whitehat_id" value="$item.id"}selected{/eq}>
                    {$item.code|htmlentities} {$item.name|htmlentities} {$item.phone|htmlentities}
                </option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', [
                'pending_contract'=>__('Pending contract'),
                'pending_fulfillment'=>__('Pending fulfillment'),
                'in_progress'=>__('In progress'),
                'completed'=>__('Completed'),
                'cancelled'=>__('Cancelled')
            ], $row.status)}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

