<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="row[id]" value="{$row.id|htmlentities}">
    <div class="form-group">
        <label for="c-phone" class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-phone" class="form-control" name="row[phone]" type="text" value="{$row.phone|htmlentities}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="c-company_id" class="control-label col-xs-12 col-sm-2">{:__('Company')}:</label>
        <div class="col-xs-12 col-sm-4">
            <select id="c-company_id" class="form-control selectpicker" name="row[company_id]">
                <option value="">{:__('None')}</option>
                {volist name="companyList" id="c"}
                <option value="{$c.id}" {eq name="row.company_id" value="$c.id"}selected{/eq}>{$c.name|htmlentities}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-ongoing_orders" class="control-label col-xs-12 col-sm-2">{:__('Ongoing orders')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-ongoing_orders" data-rule="integer" class="form-control" name="row[ongoing_orders]" type="number" value="{$row.ongoing_orders|default='0'|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is admin')}:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="radio">
                <label for="c-is_admin-1"><input id="c-is_admin-1" name="row[is_admin]" type="radio" value="1" {eq name="row.is_admin" value="1"}checked{/eq} /> {:__('Yes')}</label>
                <label for="c-is_admin-0" style="margin-left: 15px;"><input id="c-is_admin-0" name="row[is_admin]" type="radio" value="0" {neq name="row.is_admin" value="1"}checked{/neq} /> {:__('No')}</label>
            </div>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
