<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-4">
            <select id="c-type" class="form-control" name="row[type]">
                <option value="physical">{:__('Physical')}</option>
                <option value="virtual">{:__('Virtual')}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-description" class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-6">
            <textarea id="c-description" class="form-control" name="row[description]" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-pointsRequired" class="control-label col-xs-12 col-sm-2">{:__('Pointsrequired')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-pointsRequired" data-rule="required;integer" class="form-control" name="row[pointsRequired]" type="number" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-stock" class="control-label col-xs-12 col-sm-2">{:__('Stock')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-stock" data-rule="required;integer" class="form-control" name="row[stock]" type="number" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <input id="c-image" class="form-control" name="row[image]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg" data-multiple="false"><i class="fa fa-upload"></i> {:__('Upload')}</span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-4">
            {:build_radios('row[status]', ['1'=>__('On'), '0'=>__('Off')], '1')}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

